<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE phpunit>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
    colors="true"
    backupGlobals="false"
    bootstrap="./tests/bootstrap.php"
    >
    <testsuites>
        <!-- Controller tests (HTTP dispatch) -->
        <testsuite name="controller">
            <directory suffix="Test.php">tests/ArkTest/Controller</directory>
        </testsuite>
        <!-- All tests -->
        <testsuite name="Ark">
            <directory suffix="Test.php">tests/ArkTest</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APPLICATION_ENV" value="testing"/>
        <includePath>./tests</includePath>
    </php>
</phpunit>
